
@{
    ViewBag.Title = "hr";
}

<h2>hr</h2>

<div>
    方法1：@Html.Action("Phr")
</div>
<div>
    方法2：@Html.Action("Phr", new {id=100})
</div>
<div>
    方法3：@Html.Action("Phr","Home")
</div>
<div>
    方法4：@Html.Action("Phr", "Home", new {id=100 })
</div>