
@model hr.Models.Student


<div style="border:solid">
    <br />
    @ViewData["hr19"]
    <br />
    学生信息
    <p>学号：@Model.Sno</p>
    <p>姓名：@Model.Sname</p>
    <p>性别：@Model.Ssex</p>
    <p>年龄：@Model.Sage</p>
</div>
