@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>S19</title>
</head>
<body>
    <div>
        这是主视图上的文字
        @Html.Partial("hr119");
    </div>
</body>
</html>
