@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @{
        for (int i = 0; i < 10; i++) 
        {
            @i
        }
    }
   @{
       for (int i = 0; i < 5; i++) 
       {
           <p>
               @{
                   for(int j=0;j<i+1;j++)
                   {
                   <span>*</span>
                       }
               }
          </p>
       }
           }
    </div>
</body>
</html>
